{% extends 'skelet.html' %}

{% block content %}

    <form action="" method="post">
        <table border="1">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Отправить">
    </form>

    <hr><hr>
    <u>Отдельно поле из формы</u><br><br>
    {{ form.message }}
    <br><u>Отдельно поле для ошибок</u><br><br>
    {{ form.message.errors }}


    {% if form.errors %}
        <b>{{ form.errors }}</b>
    {% endif %}



{#    {% if form.subject.errors %}#}
{#    <ol>#}
{#    {% for error in form.subject.errors %}#}
{#        <li><strong>{{ error|escape }}</strong></li>#}
{#    {% endfor %}#}
{#    </ol>#}
{#{% endif %}#}




{% endblock %}