{% extends 'base.html' %}

{% block title %}
    base Class list View
{% endblock %}

{% block content %}
    <h4>Bloger</h4>
    <ul>
        {% for obj in object_list %}
            <li>{{ obj.name }}</li>
        {% endfor %}
    </ul>


    {% for i in paginator.page_range %}
        {{ i }}
    {% endfor %}
    <hr>
    <div class="paginator">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page ({{ page_obj.previous_page_number }} | {{ page_obj.next_page_number }}) of {{ paginator.num_pages }}. {{ paginator.page_range }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}